
<%= form_tag(:action => 'display') do %>
  <div class="field">
    Enter XML Code
    <%= text_area_tag :code %>
  </div><br>
  <div class="actions">
    <%= submit_tag "submit" %>
  </div>
<% end %>